{
  "swagger": "2.0",
  "info": {
    "title": "Curated",
    "description": "This is a curated api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "curated.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "curatedlication/json"
  ],
  "paths": {
    "curated/": {
      "get": {
        "summary": "retrieves all curateds",
        "description": "pulls all curateds, with filter by keyword",
        "operationId": "getCurateds",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across curated",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "curated response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/curated"
              }
            }
          }
        },
        "tags": [
          "curated",
          "curatedging"
        ]
      },
      "post": {
        "summary": "add curated",
        "description": "add a new curated",
        "operationId": "addCurated",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the curated",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the curated",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the curated",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the curated",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "curated response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/curated"
              }
            }
          }
        },
        "tags": [
          "curated",
          "curatedging"
        ]
      }
    },
    "curated/{slug}": {
      "get": {
        "summary": "Retrieve a curated using its slug",
        "description": "Returns the curated detail",
        "operationId": "getCurated",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the curated, notice this is in the path, not a query variable",
            "required": "true",
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "curated response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/curated"
              }
            }
          }
        },
        "tags": [
          "curated",
          "curatedging"
        ]
      },
      "put": {
        "summary": "update curated",
        "description": "update curated",
        "operationId": "updateCurated",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the curated",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the curated",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the curated",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the curated",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the curated",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "curated response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/curated"
              }
            }
          }
        },
        "tags": [
          "curated",
          "curatedging"
        ]
      },
      "delete": {
        "summary": "delete curated",
        "description": "deletes an curated",
        "operationId": "deleteCurated",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the curated",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "curated response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/curated"
              }
            }
          }
        },
        "tags": [
          "curated",
          "curatedging"
        ]
      }
    }
  },
  "definitions": {
    "curated": {
      "properties": {
        "name": {
          "description": "name of the curated",
          "type": "string",
          "format": "label"
        },
        "description": {
          "description": "description of the curated",
          "type": "string"
        },
        "url": {
          "description": "url for the curated",
          "type": "string"
        },
        "tags": {
          "description": "tags for the curated",
          "type": "string"
        },
        "slug": {
          "description": "slug for the curated",
          "type": "string",
          "format": "id"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
